    /*================================================ 
                      svg icon
  ================================================ */
    
    @font-face {
        font-family: 'icomoon';
        src: url('fonts/icomoon.eot?57a6g2');
        src: url('fonts/icomoon.eot?57a6g2#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?57a6g2') format('truetype'), url('fonts/icomoon.woff?57a6g2') format('woff'), url('fonts/icomoon.svg?57a6g2#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
    
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-medkit:before {
        content: "\e900";
    }
    
    .icon-google-plus-g:before {
        content: "\e901";
    }
    
    .icon-instagram:before {
        content: "\e902";
    }
    
    .icon-linkedin-in:before {
        content: "\e903";
    }
    
    .icon-twitter:before {
        content: "\e904";
    }
    
    .icon-user-md-solid:before {
        content: "\e905";
    }
    
    .icon-tooth-solid:before {
        content: "\e906";
    }
    
    .icon-facebook:before {
        content: "\e907";
    }
    
    .icon-brand:before {
        content: "\e907";
    }
    
    .icon-social:before {
        content: "\e907";
    }
    
    .icon-quotes-left:before {
        content: "\e908";
    }
    
    .icon-ldquo:before {
        content: "\e908";
    }
    /*================================================ 
                    common css
  ================================================ */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    .container {
        width: 1920px;
        max-width: 1170px;
        margin: 0 auto;
    }
    /*================================================ 
                    navbar area
  ================================================ */
    
    .content {
        max-width: 1250px;
        margin: auto;
        padding: 0 30px;
    }
    
    .navbar-item {
        position: fixed;
        width: 100%;
        z-index: 2;
        padding: 25px 0;
        transition: all 0.3s ease;
    }
    
    .navbar-item.sticky {
        background: #00b1a9;
        padding: 10px 0;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-item .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo img {
        width: 130px;
    }
    
    .navbar-item .navbar-menu {
        display: inline-flex;
    }
    
    ul.navbar-menu.list-unstyled {
        padding-top: 5px;
    }
    
    .navbar-menu li {
        list-style: none;
    }
    
    .navbar-menu li a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        transition: all 0.3s ease;
        transition: 0.5s;
    }
    
    .icon {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    
    .navbar-menu .cancel-btn {
        position: absolute;
        right: 30px;
        top: 20px;
    }
    
    @media (max-width: 868px) {
        body.disabled {
            overflow: hidden;
        }
        .icon {
            display: block;
        }
        .icon.hide {
            display: none;
        }
        .navbar-item .navbar-menu {
            position: fixed;
            height: 100vh;
            width: 100%;
            max-width: 400px;
            left: -100%;
            top: 0px;
            display: block;
            padding: 40px 0;
            text-align: center;
            background: #222;
            transition: all 0.3s ease;
        }
        .navbar-item.show .navbar-menu {
            left: 0%;
        }
        .navbar-item .navbar-menu li {
            margin-top: 45px;
        }
        .navbar-item .navbar-menu li a {
            font-size: 23px;
            margin-left: -100%;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .navbar-item.show .navbar-menu li a {
            margin-left: 0px;
        }
    }
    
    @media (max-width: 380px) {
        .navbar .logo a {
            font-size: 27px;
        }
    }
    /*================================================ 
                    header area
  ================================================ */
    
    #top_header {
        width: 100%;
        background: url(img/background_img_01.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    .logo {
        width: 180px;
        height: 70px;
        padding-top: 30px;
    }
    
    .logo img {
        width: 165px;
        height: 40px;
    }
    
    .background_img img {
        margin-top: 60px;
        float: left;
    }
    
    .heading h1 {
        font-size: 4rem;
        font-weight: 500;
        color: #ffff;
        padding-top: 128px;
        margin-bottom: 20px;
    }
    
    .heading img {
        display: block;
        margin-bottom: 30px;
    }
    
    .heading em {
        font-size: 20px;
        line-height: 27px;
        color: #fff;
        display: block;
        margin-bottom: 40px;
    }
    
    .btn {
        padding: 12px 25px;
        font-size: 15px;
        outline: none;
        border: none;
        color: #34ADA3;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .btn:hover {
        background: #E6E6E6;
        color: #000;
    }
    /*================================================ 
                    heading box
  ================================================ */
    
    #heading_box {
        width: 100%;
    }
    
    .heading_box_contant {
        width: 25%;
        margin-top: 0px;
        padding: 0px 20px 0px 20px;
        color: #fff;
        display: inline-block;
        margin-right: -5px;
    }
    
    .heading_box_contant h1 {
        font-size: 30px;
        margin-bottom: 19px;
        padding-top: 50px;
    }
    
    .heading_box_contant p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .heading_box_contant a em {
        margin: 0;
        padding-bottom: 40px;
    }
    
    .heading_box_contant a {
        text-decoration: none;
        font-size: 18px;
    }
    
    .one {
        background: #4EC7A4;
    }
    
    .tow {
        background: #00B1A9;
    }
    
    .three {
        background: #2EA7A2;
    }
    
    .four {
        background: #1D96A1;
    }
    /*================================================ 
                healthy details
  ================================================ */
    
    #heallthy_details {
        width: 100%;
        clear: both;
        margin-top: 80px;
    }
    
    .heallthy_details_box {
        width: 540px;
        background: #ffff;
        box-shadow: 0px 0px 27px 3px #ddd;
        padding: 60px 20px;
        text-align: justify;
        font-size: 18px;
        color: #808080;
        float: left;
    }
    
    .heallthy_details_box span {
        font-size: 50px;
    }
    
    .heallthy_details_box em {
        z-index: -1;
    }
    
    .heallthy_details_content {
        width: 560px;
        float: left;
        margin: 0px 0px 80px 70px;
    }
    
    .heallthy_details_content h1 {
        margin-top: 17px;
        font-size: 3rem;
        font-weight: 400;
    }
    
    .heallthy_details_content img {
        margin: 20px 0px 30px 0px;
    }
    
    .heallthy_details_content p {
        font-size: 16px;
        line-height: 23px;
    }
    /*================================================ 
                healthy background
  ================================================ */
    
    #heallthy_wrapper {
        width: 100%;
        clear: both;
    }
    
    .heallthy_background_img {
        background: url(img/background_img_03.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 100%;
        overflow: hidden;
    }
    
    .heallthy_content {
        max-width: 43%;
        padding: 120px 0px 130px 0px;
        float: left;
    }
    
    .heallthy_content h1 {
        font-size: 3rem;
        font-weight: 400;
    }
    
    .heallthy_content img {
        margin: 20px 0px 30px 0px;
    }
    
    .heallthy_content p {
        font-size: 16px;
        line-height: 23px;
    }
    
    .heallthy_content input {
        margin-top: 50px;
        padding: 13px 30px;
        font-size: 16px;
        border: none;
        outline: none;
        background: #00B1A9;
        color: #fff;
        cursor: pointer;
    }
    
    .heallthy_content input:hover {
        background: #1D96A1;
    }
    
    .heallthy_img_one img {
        width: 300px;
        margin: 60px 0px 0px 30px;
        float: left;
    }
    
    .heallthy_img_tow img {
        width: 275px;
        height: 235px;
        float: left;
        margin: 60px 0px 0px 30px;
    }
    
    .heallthy_img_three img {
        width: 221px;
        height: 240px;
        margin: 30px 0px 50px 30px;
        float: left;
    }
    
    .heallthy_img_four img {
        width: 354px;
        height: 238px;
        margin: 30px 0px 0px 30px;
        float: left;
    }
    /*================================================ 
               healthy Programs
  ================================================ */
    
    #programs_wrapper {
        width: 100%;
        clear: both;
    }
    
    .Programs_header {
        text-align: center;
        margin-top: 30px;
    }
    
    .Programs_header h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .Programs_header img {
        margin-bottom: 20px;
    }
    
    .Programs_header p {
        margin-bottom: 80px;
    }
    
    .Programs_box {
        text-align: center;
        max-width: 30%;
        margin: 0px 50px 50px 0px;
        display: inline-block;
    }
    
    .Programs_box:last-child {
        margin-right: 0;
    }
    
    span.icon-tooth-solid,
    .icon-medkit,
    .icon-user-md-solid {
        border: 20px solid #00B1A9;
        border-radius: 50%;
        font-size: 40px;
        background: #00B1A9;
        color: #fff;
    }
    
    .Programs_box h3 {
        margin: 50px 0px 20px 0px;
        font-size: 25px;
    }
    
    .Programs_box p {
        font-size: 16px;
        line-height: 20px;
        color: #808080;
    }
    /*================================================ 
               healthy impacts
  ================================================ */
    
    #impacts_wrapper {
        width: 100%;
        clear: both;
    }
    
    .impacts_background_img {
        background: url(img/background_img_04.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    .impacts_content {
        padding: 120px 0px 130px 0px;
        max-width: 43%;
        float: left;
        margin-right: 50px;
    }
    
    .impacts_content h1 {
        font-size: 3rem;
        font-weight: 400;
    }
    
    .impacts_content img {
        margin: 20px 0px 30px 0px;
    }
    
    .impacts_content p {
        font-size: 16px;
        line-height: 23px;
    }
    
    .impacts_content input {
        margin-top: 50px;
        padding: 13px 30px;
        font-size: 16px;
        border: none;
        outline: none;
        background: #00B1A9;
        color: #fff;
        cursor: pointer;
    }
    
    .impacts_content input:hover {
        background: #1D96A1;
    }
    
    .impacts_img img {
        width: 600px;
        margin-top: 70px;
    }
    /*================================================ 
              Dental Care
  ================================================ */
    
    #Dental_wrqpper {
        width: 100%;
        clear: both;
        margin-bottom: 80px;
    }
    
    .Dental_header img {
        margin-left: 39%;
        display: block;
    }
    
    .Dental_img {
        width: 330px;
        text-align: center;
        display: flex;
        padding: 0px 10px 0px 10px;
    }
    
    .Dental_img_one img {
        width: 300px;
        height: 270px;
        float: left;
        margin: 30px 30px 15px 30px;
    }
    
    .Dental_img_one,
    .Dental_img_tow,
    .Dental_img_three h3 {
        padding: 10px 0px;
        font-weight: 500;
    }
    
    .Dental_img_tow img {
        width: 300px;
        height: 270px;
        float: left;
        margin: 50px 30px 15px 30px;
    }
    
    .Dental_img_three img {
        width: 300px;
        height: 270px;
        float: left;
        margin: 30px 30px 15px 30px;
    }
    /*================================================ 
                    u layout
  ================================================ */
    
    #u_layout_wrapper {
        width: 100%;
        background: linear-gradient(#4ec7a4, #2ea7a2);
        overflow: hidden;
    }
    
    .social {
        min-width: 420px;
        padding: 50px 0px;
        float: left;
    }
    
    .social a {
        text-decoration: none;
        color: #fff;
    }
    
    .social a span.icon-google-plus-g {
        width: 30px;
        height: 30px;
        font-size: 25px;
        border-radius: 50%;
        background: #fff;
        padding: 8px;
        color: #000;
        transition: 0.5s;
    }
    
    .social a span.icon-google-plus-g:hover {
        background: #DD4B39;
        color: #fff;
    }
    
    .social span {
        margin-right: 20px;
        font-size: 25px;
        text-decoration: none;
    }
    
    .u_layout_content input {
        width: 250px;
        padding: 15px 25px;
        border-radius: 50px;
        border: none;
        outline: none;
        margin: 45px 15px 0px 0px;
        float: left;
    }
    
    .Submit {
        padding: 10px 35px;
        float: left;
        margin-top: 50px;
        border: none;
        outline: none;
        background: #fff;
        color: #4ec7a4;
        cursor: pointer;
    }
    /*================================================ 
                     our team
  ================================================ */
    
    #our_team_wrapper {
        width: 100%;
        clear: both;
    }
    
    .our_team_header img {
        margin-left: 39%;
        display: block;
    }
    
    .team_member {
        width: 500px;
        background: #fff;
        box-shadow: 0px 0px 19px 4px #ddd;
        overflow: hidden;
        margin: 70px 80px 50px 0px;
        text-align: right;
        float: left;
    }
    
    .team_member img {
        max-width: 240px;
        float: left;
    }
    
    .team_member p {
        padding: 50px 10px 30px 0px;
        font-size: 16px;
        color: #808080;
    }
    
    .team_member h3 {
        padding-right: 15px;
        font-size: 18px;
        color: #2ea7a2;
        margin-bottom: 30px;
    }
    
    .team_member a {
        text-decoration: none;
        color: #00B1A9;
    }
    
    .team_member span.icon-facebook {
        font-size: 20px;
        color: #2ea7a2;
    }
    
    .team_member span.icon-twitter {
        font-size: 20px;
        color: #2ea7a2;
    }
    
    .team_member span.icon-instagram {
        margin-right: 10px;
        font-size: 20px;
        color: #2ea7a2;
    }
    /*================================================ 
            Specialty Treatment Kids
  ================================================ */
    
    #Treatment_Kids_wrapper {
        width: 100%;
        background: url(img/background_img_05.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    .Treatment_Kids_img img {
        width: 562px;
        margin: 113px 16px 0px 0px;
        float: left;
    }
    
    .Kids_content {
        float: right;
        color: #fff;
        padding-bottom: 115px;
    }
    
    .Kids_content input {
        background: #fff;
        color: #000;
        transition: 0.5s;
    }
    
    .Kids_content input:hover {
        background: #ddd;
    }
    /*================================================ 
                         footer
  ================================================ */
    
    #footer {
        background-color: #1A1A1A;
        color: #fff;
        padding-top: 200px;
    }
    
    .fboxwrappr {
        overflow: hidden;
        margin-bottom: 60px;
    }
    
    .fbox {
        overflow: hidden;
        width: 250px;
        float: left;
        margin-right: 30px;
        color: #999;
    }
    
    .fbox h3 {
        color: #999;
        margin-bottom: 20px;
    }
    
    .fbox p {
        line-height: 23px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .fbox:first-child {
        margin-right: 30px;
    }
    
    #contacts {
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
    }
    
    #uflink {
        list-style: none;
    }
    
    #uflink li {
        line-height: 25px;
    }
    
    #uflink li a {
        color: #999;
        text-decoration: none;
        display: block;
        padding: 7px opx;
        border-bottom: 1px dashed #353535;
    }
    
    #uflink li:last-child a {
        border-bottom: 0px;
    }
    
    .copyrightcontainer {
        overflow: hidden;
        color: #999;
        border-top: 1px solid;
    }
    
    .copyrightcontainer.container {
        overflow: hidden;
    }
    
    .copyrighttext {
        width: 570px;
        float: left;
        padding: 25px 0px;
    }
    
    .copyrightmenu {
        width: 570px;
        float: right;
    }
    
    .copyrightmenu ul {
        list-style: none;
        float: right;
        overflow: hidden;
    }
    
    .copyrightmenu ul li {
        float: left;
    }
    
    .copyrightmenu ul li a {
        color: #999;
        display: block;
        padding: 25px 15px;
        text-decoration: none;
    }